<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Projects</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
          <li><a href="{% url 'list_projects' %}">My projects</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}</p>

        <h2>Tasks</h2>

        <table>
          <thead>
            <th>Name</th>
            <th>Assignee</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
          </thead>
          {% for project in list_projects %}
          <tbody>
            <tr>
              <td>{{project.name}}</td>
              <td>{{project.username}}</td>
              <td>{{project.start_date}}</td>
              <td>{{project.due_date}}</td>
              <td>{{value|yesno}}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </main>
  </body>
</html>
``````
